@page
@model Jakes_Ode_To_Food.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>

<div class="form-group">
    <div class="input-group">
        <input type="search" class="form-control" value=""/>
        <span>
            <button class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
        </span>
    </div>
</div>

<table class="table">
    
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Location</td>
        <td>Cuisine</td>
    </tr>

    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>
<p>@Model.Message</p>